<settings>
  <servers>
    <server>
      <id>central</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
    <server>
      <id>${env.GPG_ID}</id>
      <passphrase>${env.GPG_PASSPHRASE}</passphrase>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>release</id>
      <activation>
        <activateByDefault>true</activateByDefault>
      </activation>
      <properties>
        <gpg.keyname>${env.GPG_ID}</gpg.keyname>
      </properties>
    </profile>
  </profiles>
</settings>